# Create Database

In [1]:
# connecting to database
import sqlite3
db = sqlite3.connect("APAD_proj.db")
conn = db.cursor()

# Create Tables
#### Includes user, venue, event_category, sports_cat, feedback, events

In [3]:
# create user table
conn.execute('''CREATE TABLE user (
                    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
                    email_id VARCHAR(50) NOT NULL UNIQUE,
                    first_name VARCHAR(50),
                    last_name VARCHAR(50),
                    contact_number VARCHAR(15) NOT NULL UNIQUE,
                    zip_code INTEGER(5) NOT NULL,
                    password VARCHAR(50) NOT NULL
                    ) ''')

OperationalError: table user already exists

In [10]:
# create venue table
conn.execute('''CREATE TABLE venue (
                    venue_id INTEGER PRIMARY KEY AUTOINCREMENT,
                    venue_name VARCHAR(50) NOT NULL,
                    address VARCHAR(100) NOT NULL,
                    zip_code INTEGER(5) NOT NULL,
                    contact_number VARCHAR(15),
                    description VARCHAR(200),
                    open_time TIME NOT NULL,
                    close_time TIME NOT NULL,
                    games_total_count INTEGER NOT NULL,
                    games_available_count INTEGER NOT NULL
                    ) ''')

In [5]:
# create event category table
conn.execute('''CREATE TABLE event_category (
                    event_cat_id INTEGER PRIMARY KEY,
                    event_category_name VARCHAR(50) not null 
                    ) ''')

OperationalError: table event_category already exists

In [6]:
# create sports category table
conn.execute('''CREATE TABLE sports_cat(
                sports_cat_id INTEGER PRIMARY KEY AUTOINCREMENT,
                sport_name VARCHAR(50) NOT NULL,
                player_count INTEGER,
                euip_req_flag INTEGER,
                sport_desc VARCHAR(200)
                )''')

In [7]:
# create feedback table
conn.execute('''CREATE TABLE feedback(ticket_id INTEGER UNIQUE,
                subject VARCHAR(50),
                description VARCHAR(100),
                user_id INTEGER,
                email_id VARCHAR(50),
                FOREIGN KEY(user_id) REFERENCES user(user_id)
                )''')

In [8]:
# create events table
conn.execute('''CREATE TABLE events(event_id INTEGER PRIMARY KEY AUTOINCREMENT, 
                event_cat_id INTEGER NOT NULL, 
                venue_id INTEGER NOT NULL, 
                event_name VARCHAR(100) NOT NULL, 
                date DATE, 
                start_time TIME, 
                end_time TIME, 
                user_id INTEGER NOT NULL, 
                host_flag INTEGER,
                member_flag INTEGER,
                sports_cat_id INTEGER,
                event_desc VARCHAR(200),
                capacity_avail INTEGER,
                FOREIGN KEY(user_id) REFERENCES user(user_id),
                FOREIGN KEY(event_cat_id) REFERENCES event_category(event_cat_id),
                FOREIGN KEY(venue_id) REFERENCES venue(venue_id)
                FOREIGN KEY(sports_cat_id) REFERENCES sports_cat(sports_cat_id)
                )''')

In [11]:
db.commit()