In [2]:
# Import sqlite3 module
import sqlite3

In [3]:
# Connect to the chinook database
#db=sqlite3.connect("/sqlite/db/chinook.db")
db = sqlite3.connect("APAD_proj.db")

In [6]:
conn = db.cursor()
conn.execute('''CREATE TABLE user (
                    user_id INTEGER PRIMARY KEY AUTOINCREMENT,
                    email_id VARCHAR(50) NOT NULL UNIQUE,
                    first_name VARCHAR(50),
                    last_name VARCHAR(50),
                    contact_number VARCHAR(15) NOT NULL UNIQUE,
                    zip_code INTEGER(5) NOT NULL,
                    password VARCHAR(50) NOT NULL
                    ) ''')

In [7]:
conn.execute('''CREATE TABLE venue (
                    venue_id INTEGER PRIMARY KEY AUTOINCREMENT,
                    venue_name VARCHAR(50) NOT NULL,
                    address VARCHAR(100) NOT NULL,
                    zip_code INTEGER(5) NOT NULL,
                    contact_number VARCHAR(15),
                    description VARCHAR(200) 
                    ) ''')

In [8]:
conn.execute('''CREATE TABLE event_category (
                    event_cat_id INTEGER PRIMARY KEY,
                    event_category_name VARCHAR(50) not null 
                    ) ''')

In [9]:
db.commit()